<!DOCTYPE html>
<html>
<head>
	<title>Input Form</title>
</head>
<body>
    <h1>API for input form</h1>
    <br>
    
    <form action="/enterData" method="POST">
        Enter Organization Name  <input type="text" name="Organization">
        <br>
        <br>
        Enter Address  <input type="text" name="Address">
        <br>
        <br>
        Enter Amount of Food(in kgs)  <input type="number" name="foodAmount" min="0">
        <br>
        <br>
        <button>Submit</button>
    </form>
</body>
</html>