<html>
	<head>
		<title>Input Form</title>
	</head>
	<body>
		<h1>Data Form</h1>
		<form action="/enterData" method="POST">
			<input type="text" name="Name" placeholder="Enter name"><br><br>
			<input type="text" name="Address" placeholder="Enter address"><br><br>
			<input type="number" name="Amount" placeholder="Enter amount" min="0"><br><br>
			<button type="submit">Submit</button>
		</form>
	</body>
</html>